<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology (Computer Science & Engineering)</div>
               <h4 class="category">Seth Jai Parkash Mukand Lal Institute of Engineering and Technology
               </h4>
               <ul>
                <li> Affiliated with Kurukshetra University, Kurukshetra</li>
                    <li>Completed B.Tech in Computer Science Engineering with <b>79% </b>.</li>
                 <li>Maintained approx. <b>70% </b> in every semester of college academic .</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2018</p>
              <div class="h5">Diploma</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Diploma</div>
               <h4 class="category">Government Institute
               </h4>
               <ul>
                <li>Affiliated with Haryana Technical Education Board (HTEB), Haryana</li>
                <li>
                  The college was mainly focused on the basics of 10+2 and the engineering subjects
                                  </li>
                                  <li>
                                     There was also a good base in Mathematics and Data Structures.
                                  </li>
                                  <li>
                                      Completed my Diploma with<b> 70%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2014</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Modern School, Faridabad
               </h4>
               <ul>
                <li>Affiliated with Central Board of Secondary Education (CBSE), New Delhi</li>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my matriculation with <b>7.8 CGPA</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>